$cor_fundo: #f0f2f5;

// Configs de Fonte: 
$fonte_padrao: Helvetica, Arial, sans-serif;
$cor_padrao: #1c1e21;
$tamanho_padrao: 12px;
$tamanho_1: 28px;

*{
    margin: 0;
    padding: 0;
    font-family: $fonte_padrao;
    color: $cor_padrao;
    font-size: $tamanho_padrao;
}

body{
    background-color: $cor_fundo;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    .main-esquerda,
    .main-direita{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    p{  
        margin-top: 30px;
        font-size: 13px;
    }

    #link-baixo{
        font-weight: bold;
        font-size: 14px;
    }
}

.main-esquerda{
    margin-left: 140px;
    margin-right: 80px;
    

    .fb_logo{
        margin: -28px;
        width: 300px;
        height: 105px;
    }

    p{
        font-size: $tamanho_1;
        width: 500px;
        padding: 20px 0;
    }
}

.main-direita{
    margin-right: 140px;

    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 396px;
        height: 315px;
        padding: 20px 0 28px;
        margin: 40px 0 0; 
        background-color: #fff;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        border-radius: 8px;
    }

    input{
        font-size: 17px;
        border-radius: 6px;
        border: 1px solid #dddfe2;
        width: 340px;
        height: 22px;
        padding: 14px 16px;
    }

    button{
        cursor: pointer;
    }

    #entrar,
    #criar{
        color: #fff;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        padding: 0 16px;
    }

    #entrar{
        background-color: #1877f2;
        font-size: 20px;
        height: 48px;
        width: 370px;
    }

    #linha{
        align-items: center;
        border-bottom: 1px solid #dadde1;
        width: 364px;
        margin: 20px 16px;
        text-align: center;
    }

    #criar{
        background-color: #42b72a;
        height: 48px;
        width: 170px;
        font-size: 17px;
    }

    #entrar:hover{
        background-color: #186cda;
    }

    a{
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }

    #senha{
        margin-top: 15px;
        color: #1877f2;
        font-size: 14px;
        font-weight: 500;
    }
}