$cor_fundo: #f0f2f5;

// Configs de Fonte: 
$fonte_padrao: Helvetica, Arial, sans-serif;
$cor_padrao: #1c1e21;
$tamanho_padrao: 12px;
$tamanho_1: 28px;

*{
    margin: 0;
    padding: 0;
    font-family: $fonte_padrao;
    color: $cor_padrao;
    font-size: $tamanho_padrao;
}

body{
    background-color: $cor_fundo;
}

main{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;


    .logo{
        height: 300px;
        width: 300px;
    }

    p{
        font-size: $tamanho_1;
        line-height: 32px;
        width: 500px;
    }
}