$cor_fundo: #f0f2f5;

// Configs de Fonte: 
$fonte_padrao: Helvetica, Arial, sans-serif;
$cor_padrao: #1c1e21;
$tamanho_padrao: 12px;
$tamanho_1: 28px;

*{
    margin: 0;
    padding: 0;
    font-family: $fonte_padrao;
    color: $cor_padrao;
    font-size: $tamanho_padrao;
}

body{
    background-color: $cor_fundo;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    .main-esquerda,
    .main-direita{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .main-esquerda{
        margin-left: 140px;
    }

    .fb_logo{
        margin: -28px;
        width: 300px;
        height: 105px;
    }

    p{
        font-size: $tamanho_1;
        width: 500px;
        padding: 20px 0;
    }
  
}